body{
    background-color: #f4f4f4;
    overflow-x:hidden;    
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
p{
    margin-right: 10px;
    margin-left: 1700px;
    text-align: center;
}
#login{
    position:fixed;
    background:rgb(37,37,37);
    height: 40px;
    line-height: 40px;
    padding-left: 1767px;
    width: 100%;
    top: 0px;
}
#agg a:visited,a:link{
    text-decoration: none;
    color:gray;
}
#agg a:hover{
    color:rgb(128, 104, 104);
    text-decoration: none;
}
#agg a:active{
    color:rgb(59, 126, 85);
    text-decoration: none;
}
#big{
    margin: 0px auto;
    width: 1000px;
    height: 960px;
    padding:5px 5px 0px 5px ;
    background-color: rgb(255, 255, 255);
}
#header{
    height: 180px;
    width: 800px;
    font-family: 宋体;
    font-size: 14px;
    line-height: 18px;
    margin: 0px auto;
    padding-top: 35px;
}
#logo{
    float: left;
    height: 100px;
    width: 280px;
}
#box{
    width: 600px;
    margin: 30px auto;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}
#search{
    width: 78px;
    height: 30px;
    float: right;
    background: black;
    color: white;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 100px;
}
input{
    width: 260px;
    border: 1px solid #e2e2e2;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position:5px center;
    padding:0 0 0 40px;
    margin-top: 100px;
    margin-left: 60px;
}
#menu{
    width: 1008px;
    height: 37px;
    border: 1px solid rgb(37, 37, 37);
    background: rgb(37, 37, 37);
    margin-left: -5px;
}
#tmd1{
    display: inline-block;
    width: 197.82px;
    height: 37px;
    text-align: center;
    line-height: 37px;
}
a.tmd2:visited,a.tmd2:link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a.tmd2:hover{
    text-decoration: none;
    color:rgb(164, 202, 27);
    font-weight: bold;
}
a.tmd3:link,a.tmd3:visited{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a.tmd3:hover{
    text-decoration: none;
    color: rgb(164, 202, 27);
    font-weight: bold;
}
#ling{
    border-top: 3px solid rgb(164, 202, 27);
    width: 45px;
    margin-bottom: -8px;
    margin-left: 73px;
}
#paihang{
    clear: both;
    width: 1000px;
    margin: 0px auto;
}
#ph{
    float: left;
    width: 290px;
    padding-top: 10px;
    padding-left: -60px;
}
#heading{
    padding-left: 14px;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    color:rgb(163, 7, 7);
    font-size: 16px;
    font-weight: bold;
}
#pha{
    width: 270px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid gray;
    padding: 5px;
}
#pha ul{
    list-style-type: none;
}
#pha ul li{
    list-style:none; 
    padding-left: 12px;
}
#pha ul li a{
    display: block;
    color: #000;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px dashed #999;
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 245px;
}
#pha ul li a:hover{
    color: rgb(219, 6, 6);
}
#newgame{
    width: 1000px;
    clear: both;
    margin:0px auto;
}
#newgame ul{
    padding-left: 1px;
}
#newgame ul li{
    float: left;
    margin: 3px;
    list-style-type: none;
}
#newgame ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
#ngh{
    text-align: left;
    margin-bottom: 3px;
    color: rgb(89, 128, 16);
    font-weight: bold;
    font-size: 20px;
    background:rgba(255, 255, 255,0.1);
    border-bottom: 3px orange solid;
}
table{
    width: 1000px;
    height: 24px;
}
table tr td a:link,a:visited{
    color: gray;
    text-decoration: none;
}
table tr td a:hover{
    color:rgb(99, 99, 182);
    text-decoration: none;
}
table tr td a:active{
    color: black;
    text-decoration: none;
}
#try{
    font-size: 30px;
    text-align: center;
    border: 2px solid gray;
    float: right;
    width: 700px;
    height: 345px;
    margin-top: 15px
}
#gamenew{
    width: 690px;
    height: 300px;
    margin: 2px;
}
#gamenew ul li{
    list-style-type: none;
    padding-left: 9px;
    text-align: left;
}
#gnh{
    font-size: 24px;
    text-align: left;
    margin-left: 5px;
    color: rgb(40, 238, 195);
    font-weight: bold;
}
#gamenew ul li a{
    display: block;
    color: #000;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 400px;
}
#hotp ul li a{
    display: block;
    color: #000;
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 14px;
    text-decoration: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 400px;
}
#hotp{
    font-size: 24px;
    text-align: left;
    margin-left: 5px;
    color:rgba(214, 14, 14, 0.829);
}
#newleft{
    width: 420px;
    float: left;
}
#newright{
    border-top: 3px red solid;
    border-left:1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    margin-left: 1px;
    height: 295px;
    float: right;
    width: 260px;
    font-size: 20px;
}
#footer{
    width: 100%;
    height: 60px;
    text-align: center;
    background:rgb(37,37,37);
    font-size: 16px;
    color: white;
}
.clq{
    color: #a0a0a0;
}
#footer{
    line-height: 29px;
}
a.abo:link,a.abo:visited{
    color: #a0a0a0;
}
a.abo:hover{
    text-decoration: underline;
    color: red;
}
#paiwei{
    color: red;
}
#welcl{
    color:  rgb(35, 70, 185);
    font-size: 19px;
    margin-bottom: 17px;
    font-family:宋体;
}
#follow{
    color: blue;
    font-size: 19px;
    font-family: 微软雅黑;
}
#newright a:link{
    text-decoration: none;
}
#newright a:visited{
    text-decoration: none;
    color: gray;
}
#newright a:hover{
    color: gray;
    text-decoration: none;
}
#newright a:active{
    text-decoration: none;
    color: gray;
}
#moret{
    font-size: 12px;
    color: gray;
}
#moretq{
    margin-left: 830px;
    font-size: 12px;
    color: gray;
}
a.acfun:link,a.acfun:visited{
    text-decoration: none;
    color:gray;
}
a.acfun:hover{
    color:rgb(128, 104, 104);
    text-decoration: none;
}