body{
    background-color: #f4f4f4;
    overflow-x:hidden;    
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
#login{
   position:fixed;
   background:rgb(37,37,37);
   height: 40px;
   line-height: 40px;
   padding-left: 50px;
   width: 100%;
   top: 0px;
}
#big{
    margin: 0px auto;
    width: 1000px;
    height: 1095px;
    padding:5px 5px 0px 5px ;
    background-color: rgba(255, 255, 255,0.9);
}
#header{
    height: 180px;
    width: 800px;
    font-family: 宋体;
    font-size: 14px;
    line-height: 18px;
    margin: 0px auto;
}
#logo{
    float: left;
    height: 100px;
    width: 280px;
}
#box{
    width: 600px;
    margin: 30px auto;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}
#search{
    width: 78px;
    height: 30px;
    float: right;
    background: black;
    color: white;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 100px;
}
input{
    width: 260px;
    border: 1px solid #e2e2e2;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position:5px center;
    padding:0 0 0 40px;
    margin-top: 100px;
    margin-left: 60px;
}
#menu{
    width: 1008px;
    height: 37px;
    border: 1px solid rgb(37, 37, 37);
    background: rgb(37, 37, 37);
    margin-left: -5px;
}
#tmd1{
    display: inline-block;
    width: 196.215px;
    height: 37px;
    text-align: center;
    line-height: 37px;
}
a.tmd2:visited,a.tmd2:link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a.tmd2:hover{
    text-decoration: none;
    color:rgb(164, 202, 27);
    font-weight: bold;
}
a.tmd3:link,a.tmd3:visited{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a.tmd3:hover{
    text-decoration: none;
    color: rgb(164, 202, 27);
    font-weight: bold;
}
#ling{
    border-top: 3px solid rgb(164, 202, 27);
    width: 120px;
    margin-bottom: -8px;
    margin-left: 238px;
}
#position{
    width: 1000px;
    color: gray;
    margin-top: 12px;
    border-bottom: 1px solid gray;
}
#agg a:visited,a:link{
    text-decoration: none;
    color:gray;
}
#agg a:hover{
    color:rgb(128, 104, 104);
    text-decoration: none;
}
#agg a:active{
    color:rgb(59, 126, 85);
    text-decoration: none;
}
#agg{
    display: inline;
    margin-left: 1717px;
}
#position a:visited,a:link{
    text-decoration: none;
    color: gray;
}
#position a:hover{
    color: black;
    text-decoration: none;
}
#position a:active{
    color: red;
    text-decoration: none;
}
#rank{
    width: 1000px;
    height: 800px;
}
#clcl{
    border-bottom: 1.5px dashed gray;
    width: 1000px;
    height: 185px;
}
#pic{
    float: left;
    margin-top: 20px;
    margin-left: 120px;
}
#jss{
    float: left;
    width: 300px;
    height:140px;
    margin-left: 20px;
    padding-top:15px ;
}
#pic2{
    float: left;
    margin-top: 20px;
    margin-left: -122px;
}
#jss2{
   float: left;
   width: 310px;
   height: 140px;
   margin-left: 20px;
   padding-top:20px ;
}
#pic3{
    float: left;
    margin-top: 0px;
    margin-left: 115px;
}
#jss3{
   float: left;
   width: 500px;
   height: 140px;
   margin-left: 26px;
   padding-top:0px ;
}
#clcl2{
    border-bottom: 1.5px dashed gray;
    width: 1000px;
    height: 200px;
}
#clcl3{
    border-bottom: 1.5px dashed gray;
    width: 1000px;
    height: 175px;
}
#pic4{
    float: left;
    margin-top: 0px;
    margin-left: 115px;
}
#jss4{
   float: left;
   width: 500px;
   height: 140px;
   margin-left: 26px;
   padding-top:0px ;
}
#clcl4{
    border-bottom: 1.5px dashed gray;
    width: 1000px;
    height: 175px;
}
#jump{
    width: 1000px;
    height: 70.5px;
}
#jump ul li a{
    border: 1px solid gray;
}
#jump ul li{
    list-style-type: none; 
    display: inline;
    margin: 10px;
    padding:3px;
}
#jump ul{
    line-height: 40px;
    margin-top: 25px;
    text-align: center;
}
#upp{
    display: inline;
    width: 21px;
    height: 24px;
    border: 1px solid #C6C6C6;
    color: #C6C6C6;
    font-weight: 400;
}
#morepp{
    display: inline;
    width: 10px;
    height: 24px;
}
#nextpp{
    display: inline;
    width: 10px;
    height: 24px;
    border: 0px gray solid;
}
#nextpp{
    display: inline;
}
#nextpp a:link,a:visited{
    color: black;
    background: white;
}
#nextpp  a:hover{
    color: white;
    background:#00a1d6 ;
}
#footer {
    width: 100%;
    height: 60px;
    text-align: center;
    background:rgb(37,37,37);
    font-size: 16px;
    color: white;
}
.clq{
    color: #a0a0a0;
}
#footer{
    line-height: 29px;
}
a.abo:link,a.abo:visited{
    color: #a0a0a0;
}
a.abo:hover{
    text-decoration: underline;
    color: red;
}
#mqqq {
    display: inline;
    background: #00a1d6;
    color: #fff;
    border: 1px solid #00a1d6;
}
#twop{
    display: inline;
}
#twop a:link,a:visited{
    color: black;
    background: white;
}
#twop  a:hover{
    color: white;
    background:#00a1d6 ;
}
#jss a:link,a:visited{
    color: black;
}
#jss a:hover{
    color: #00a1d6;
}
#jss2 a:link,a:visited{
    color: black;
}
#jss2 a:hover{
    color: #00a1d6;
}
#jss3 a:link,a:visited{
    color: black;
}
#jss3 a:hover{
    color: #00a1d6;
}
#jss4 a:link,a:visited{
    color: black;
}
#jss4 a:hover{
    color: #00a1d6;
}
