body{
    background-color: #f4f4f4;
    overflow-x:hidden;    
}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
#login{
   position:fixed;
   background:rgb(37,37,37);
   height: 40px;
   line-height: 40px;
   padding-left: 50px;
   width: 100%;
   top:0px;
}
#big{
    margin: 0px auto;
    width: 1000px;
    height: 16357px;
    padding:5px 5px 0px 5px ;
    background-color: rgba(255, 255, 255,0.9);
}
#header{
    height: 180px;
    width: 800px;
    font-family: 宋体;
    font-size: 14px;
    line-height: 18px;
    
    margin: 0px auto;
    padding-top: 35px;
    
}
#logo{
    float: left;
    height: 100px;
    width: 280px;
}
#box{
    width: 600px;
    margin: 30px auto;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
}
#search{
    width: 78px;
    height: 30px;
    float: right;
    background: black;
    color: white;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 100px;
}
.inputa{
    width: 260px;
    border: 1px solid #e2e2e2;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 25px;
    background-position:5px center;
    padding:0 0 0 40px;
    margin-top: 100px;
    margin-left: 60px;
}
#menu{
    width: 1008px;
    height: 37px;
    border: 1px solid rgb(37, 37, 37);
    background: rgb(37, 37, 37);
    margin-left: -5px;
}
#tmd1{
    display: inline-block;
    width: 196.215px;
    height: 37px;
    text-align: center;
    line-height: 37px;
}
a.tmd2:visited,a.tmd2:link{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a.tmd2:hover{
    text-decoration: none;
    color:rgb(164, 202, 27);
    font-weight: bold;
}
a.tmd3:link,a.tmd3:visited{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
a.tmd3:hover{
    text-decoration: none;
    color: rgb(164, 202, 27);
    font-weight: bold;
}
#ling{
    border-top: 3px solid rgb(164, 202, 27);
    width: 100px;
    margin-bottom: -8px;
    margin-left: 845px;
}
#position{
    width: 1000px;
    color: gray;
    border-bottom: 1px solid gray;
    margin-top: 12px;
}
#agg a:visited,a:link{
    text-decoration: none;
    color:gray;
}
#agg a:hover{
    color:rgb(128, 104, 104);
    text-decoration: none;
}
#agg a:active{
    color:rgb(59, 126, 85);
    text-decoration: none;
}
#agg{
    display: inline;
   margin-left: 1717px;
}
#position a:visited,a:link{
    text-decoration: none;
    color: gray;
}
#position a:hover{
    color: black;
    text-decoration: none;
}
#position a:active{
    color: red;
    text-decoration: none;
}
#lag{
    width: 1000px;
    height: 16060px;
   
}
#who{
    margin-top: 7px;
    text-align: center;
    width: 695px;
    margin-bottom: 3px;
}
#road{
    width: 695px;
    height: 14200px;
   
    float: left;
    line-height: 30px;
    font-family: 楷书;
    padding-left: 40px;
    padding-right: 8px;
}
#reccom{
    width: 250px;
    height: 202px;
    border: 2px solid gray;
    float: left;
}
#zhuyao{
    width: 1000px;
    height: 300px;
    padding-top: 6px;
    border-bottom: 1px solid gray;
}


#ssll{
    width: 1000px;
    height: 15733px;
    
    background: rgba(255, 255, 255,0.9);
    
}
#zypic{
    width: 193px;
    height: 266px;
    float: left;
    margin-left: 20px;
}
#zytext{
    width: 760px;
    height: 240px;
    float: left;
    
    padding-left: 20px;
    padding-top: 20px;
    
    
}
#gamedd{
    color: #d13d6f;
    font-size:22px;
    font-family: 微软雅黑;
}
#gamed1{
    color: #d13d6f;
    font-size:16px;
    font-family: 微软雅黑;
    margin-top: 15px;
}
#gamed2{
    color: #d13d6f;
    font-size:16px;
    font-family: 微软雅黑;
    margin-top: 10px;
}

#ag1{
    font-size: 20px;
    color: rgb(176, 34, 204);
    padding-top: 3px;
    padding-left: 10px;
    margin-bottom: 7px;
}
#rell ul li a:link,a:visited{
    color: #2b2b2b;
}
#rell ul li a:hover{
    color:rgb(14, 240, 248);
}
#rell ul li{
    list-style-type: none;
    text-align: left;
    line-height: 27px;
}
#rell{
    margin-left: 18px;
}
a.hello:link,a.hello:visited{
    color: blue;
    text-decoration: underline;
}
a.hello:hover{
    color: black;
    text-decoration: none;
}
a.hello:active{
    color: green;
    text-decoration: none;
}
a.hello1:link,a.hello1:visited{
    color: #d13d6f;
    text-decoration: underline;
}
a.hello1:hover{
    color: #d13d6f;
    text-decoration: none;
}
#pll{
    
    width: 1000px;
    height: 1484px;
    display: inline-block;
}
#waring{
   
    height: 177px;
    width: 1000px;
    border-top: 3px solid rgb(28, 131, 156);;
}
#iwan{
    
    width: 90px;
    height: 100px;
    float: left;
    text-align: center;
    line-height: 100px;
    font-size: 15px;
}
#war1{
    
    width: 593px;
    height: 100px;
    float: left;
    
    text-align: center;
    
}
#repl{
    border: 1px solid gold;
    width: 500px;
    height: 100px;
    float: left;
    display: block;
}
textarea{
    border: 1px solid black;
    height: 40px;
    width: 400px;
    margin-top: 30px;
}
form{
   
    height: 98px;
}
.inputb{
    width: 40px;
    background-color: black;
    color: white;
}
#jump{
    width: 650px;
    height: 70.5px;
    float: left;
   
}
#jump ul li a{
    border: 1px solid gray;
}


#jump ul li{
    list-style-type: none; 
    display: inline;
    margin: 10px;
    padding:3px;

}
#jump ul{
    line-height: 40px;
    margin-top: 25px;
    text-align: center;
}
#upp{
    display: inline;
    width: 21px;
    height: 24px;
    border: 1px solid #C6C6C6;
    color: #C6C6C6;
    font-weight: 400;
    
}
#morepp{
    display: inline;
    width: 10px;
    height: 24px;
    
}
#nextpp{
    display: inline;
    width: 10px;
    height: 24px;
    border: 0px gray solid;
}
#nextpp{
    display: inline;
}
#nextpp a:link,a:visited{
    color: black;
    background: white;
}
#nextpp  a:hover{
    color: white;
    background:#00a1d6 ;
}
#mqqq {
    display: inline;
    background: #00a1d6;
    color: #fff;
    border: 1px solid #00a1d6;
}
#twop{
    display: inline;
}
#twop a:link,a:visited{
    color: black;
    background: white;
}
#twop  a:hover{
    color: white;
    background:#00a1d6 ;
}
#xuxu{
   
    float: left;
    width: 200px;
    height: 36px;
    padding-top: 35px;
}
select{
    border: 1px solid black;
}
#jumpi{
    display: inline-block;
}
.inputt{
    border: 1px solid #C6C6C6;
    width: 20px;
}
#yhp{
    width: 800px;
    height: 240px;
    border: 1.5px solid gray;
}
#loc{
   
    text-align: right;
}
#loctx{
    float: left;
    margin-left: 10px;
}
#myppl{
    float: left;
  
    width: 608px;
    height: 90px;
    line-height: 90px;
    padding-left: 30px;
}
#yhname{
   
    padding-left: 20px;
}
#fbtime{
   
    text-align: right;
    color: #999;
}
#lord{
   
    height: 60px;
    
}
a.yname1:link,a.yname1:visited{
    text-decoration: none;
    color: #2d64b3;
}
a.yname1:hover{
    text-decoration: underline;
    color: #2d64b3;
}
.likeimg{
    padding-left: 540px;
    margin-top: 10px;
}
.dlimg{
    padding-left: 30px;
    padding-right: 10px;
}
#rehui{
    display: inline-block;
}
#jubb{
    display: inline-block;
}
#jhdd{
    display: inline-block;
}
a.rehui1:link,a.rehui1:visited{
    color: gray;
    text-decoration: none;
}
a.rehui1:hover{
    color: #2d64b3;
    text-decoration: underline;
}
a.jubb1:link,a.jubb1:visited{
    color: gray;
    text-decoration: none;
}
a.jubb1:hover{
    color: #2d64b3;
    text-decoration: underline;
}
a.jhdd1:link,a.jhdd1:visited{
    color: gray;
    text-decoration: none;
}
a.jhdd1:hover{
    color: #2d64b3;
    text-decoration: underline;
}
#footer{
    width: 100%;
    height: 60px;
    text-align: center;
    background:rgb(37,37,37);
   
    font-size: 16px;
    color: white;
    margin-top: -16px;
}
.clq{
    color: #a0a0a0;
}
#footer{
    line-height: 29px;
}
a.abo:link,a.abo:visited{
    color: #a0a0a0;
}
a.abo:hover{
    text-decoration: underline;
    color: red;
}
.en1{
    font-weight: bold;
    color: rgb(28, 131, 156);
    font-size: 20px;
    padding-left: 10px;
}
a.iwana:visited,a.iwana:link{
    text-decoration: underline;
    color: red;
}
a.iwana:hover{
    text-decoration: none;
    color: blue;
}
#ttop{
    position: fixed;
    top: 890px;
    left: 1600px;
}